.More{
    position: absolute;
    width: 168.67px;
    height: 36.4px;
    left: 635px;
    top: 1479px;
    background: #FFFFFF;
    border-radius: 31.5px;
}
.link{
    position: absolute;
    width: 94.88px;
    height: 25.28px;
    left: 671.9px;
    top: 1484.06px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #F61B5A;
}