.container{
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    width: 1349px;
    height: 352px;
    left: 0px;
    top: 94.01px;
    background: #FE8A00;
    gap: 20px;
}
.image2{
    position: absolute;
    width: 253px;
    height: 343.99px;
    right: 917px;
    margin-right: 203px;
    top: 9px;
}
.image1{
    position: absolute;
    width: 253px;
    height: 343.99px;
    left: 1103px;
    top: 9px;
}
h2{
    position: absolute;
    width: 367.91px;
    height: 101.11px;
    left: 548.52px;
    top: 90px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}

